@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@using (Html.BeginForm())
{
    <input type="button" name="insertButton" class="button1" value="Insert" />
    <input type="button" name="deleteButton" class="button1" value="Delete" />
    <input type="button" name="printButton" class="button1" value="Print" />
}
